.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  background-color: bisque;
}

button {
  background-color: cornflowerblue;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  width: 30%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
